body,
*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 15px;
	font-weight: normal;
	color: #111;
	background-color: #fff;
	position: relative;
}

.header-container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	border-bottom:1px solid rgb(228, 226, 226);
	padding: 0 55px;
	z-index: 999;
	position: sticky !important;
	position: relative;
	top: 0;
	background-color: #fff;
}

.header-container > nav {
	display: flex;
	align-items: center;
}
.header-container > nav a {
	transition-duration: 1s;
}

.header-container > nav a:hover,
.header-container > nav a:active {
	color: #d2b356;
	transition-duration: 0.5s;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
ul li {
	margin-right: 15px;
	font-size: 0.7rem !important;
}
ul li:last-child {
	margin-right: 0;
}
ul a {
	text-decoration: none;
	color: black;
}
.social-header a {
	font-size: 0.8rem !important;
	color: rgb(171, 167, 167);
	transition-duration: 1s;
}

.social-header a:hover {
	font-size: 0.8rem !important;
	color: rgb(1, 1, 1);
	transition-duration: 0.5s;
}

.logo-img {
	display: flex;
	align-items: center;
}
.logo-img img {
	height: 1.1rem;
}

.is-visible {
	display: none;
}



#menu-bar{
	display: block;
	width: 100%;
	position: absolute;
	top: -200px;
	opacity: 0;
	padding: 8px 8px 0 8px;	
	box-shadow: 1px 2px 2px 1px rgba(164, 163, 163, 0.9);
	transition-duration: 0.8s;
}

#menu-bar li{
	height: 1.4rem;
	border-top:1px solid rgb(228, 226, 226);
	display: flex;
	align-items: center;
	width: 100%;
}
/*? media Queries   */

@media(max-width:1025px){
	.is-visible{
		display: block!important;
	}

	nav ul{
		display: none;
	}

	/* #menu-bar{
		top: 70px;
		opacity: 1;
	} */
}

#close-btn{
	display: none;
}

@media(max-width:480px){
	.social-header li {
		display: none;
	}
}

