body,
*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 15px;
	font-weight: normal;
	color: #111;
	background-color: #fff;
}

.menu-bar-container {
	position: fixed;
	width: 100%;
}
.header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgb(228, 226, 226);
	padding: 0 80px;
	z-index: 999;
	position: fixed;
	top: 0;
	background-color: #fff;
	box-shadow: 1px 2px 2px 1px rgba(164, 163, 163, 0.9);
}

.header-container > nav {
	display: flex;
	align-items: center;
}
.header-container > nav a {
	transition-duration: 1s;
	display: flex;
	align-items: end;
}

.header-container > nav li {
	height: 48px;
	display: flex;
	align-items: center;
}

.header-container > nav a:hover {
	color: #d2b356;
	transition-duration: 0.5s;
}

.active {
	color: #d2b356;
	border-bottom: 2px solid #d2b356;
}

.active a {
	color: #d2b356;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

ul li {
	margin-right: 15px;
	font-size: 0.7rem !important;
}
ul li:last-child {
	margin-right: 0;
}
ul a {
	text-decoration: none;
	color: black;
}
.social-header a {
	font-size: 0.8rem !important;
	color: rgb(171, 167, 167);
	transition-duration: 1s;
}

.social-header a:hover {
	font-size: 0.8rem !important;
	color: rgb(1, 1, 1);
	transition-duration: 0.5s;
}

.logo-img {
	display: flex;
	align-items: center;
}
.logo-img img {
	height: 1.1rem;
}

.menu-bar {
	display: none;
	width: 100%;
	height: 0;
	position: absolute;
	top: 80px;
	padding: 8px 8px 0 8px;
	box-shadow: 1px 2px 2px 1px rgba(164, 163, 163, 0.9);
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-bar.open {
	display: block;
	height: fit-content;
}
.menu-bar li {
	height: 1.4rem;
	border-top: 1px solid rgb(228, 226, 226);
	display: flex;
	align-items: center;
	width: 100%;
}

.menu-bar a {
	transition-duration: 1s;
}
.menu-bar a:hover {
	color: #d2b356;
	transition-duration: 0.5s;
}

.menu-bar li {
	transition-duration: 1s;
}
.menu-bar li:hover {
	background-color: rgba(236, 232, 232, 0.715);
	transition-duration: 0.5s;
}

.menu-btn {
	display: none;
	color: rgb(171, 167, 167);
	transition-duration: 1s;
	font: bold;
}

.menu-btn:hover {
	color: rgb(1, 1, 1);
	transition-duration: 0.5s;
}
.banner-container {
	background-image: url("/images/banner-image-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -100px;
	background-position-x: center;
	z-index: -500;
	height: 780px;
	margin-top: 85px !important;
	margin-bottom: 40px;
	display: block !important;
}

.banner-content {
	padding-top: 75px;
}

.banner-content h1 {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 62px;
	line-height: 60px;
	font-weight: 800;
	color: #111;
	padding-bottom: 30px;
}
.banner-content h1::before {
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	background-color: #d2b356;
	margin-bottom: 20px;
}

.banner-content h2 {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 18px;
	font-weight: 300;
	color: #111;
}
.banner-content h2::after {
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	background-color: #d2b356;
	margin-top: 20px;
}

.button {
	width: fit-content;
	text-align: center;
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 16px;
	color: #111;
	border: #111 2px solid;
	text-decoration: none;
	margin: 35px 0;
	padding: 11px 18px;
	transition: all 1s linear;
}

.button:hover {
	color: #d2b356;
	border: #d2b356 2px solid;
	transition: all 0.5s linear;
	margin-top: 20px;
}

.banner-btn-wrap {
	padding-top: 60px;
}
.width-constraint {
	padding: 0 80px;
}

.section-heading h1 {
	font-size: 14px;
	font-weight: bold;
	color: #ccc;
	letter-spacing: 2px;
	padding-bottom: 0;
}

.section-title h2 {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 34px;
	font-weight: 700;
	color: #111;
}

h2.section-title::after {
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	background-color: #d2b356;
	margin-top: 20px;
}

.section-subtitle {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 16px;
	font-weight: 300;
	color: #9c9c9c;
}

/*? media Queries   */

@media (max-width: 1025px) {
	.menu-btn {
		display: block;
	}

	nav ul {
		display: none;
	}

	.header-container {
		padding: 0 55px;
	}
}

@media (max-width: 550px) {
	.social-header li a {
		display: none;
	}
}

@media (max-width: 500px) {
	.top-container {
		height: 150vh;
	}
}
