body,
*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 15px;
	font-weight: normal;
	color: #111;
	background-color: #fff;
}

.top-container {
	position: relative;
	background: url("/images/banner-image-1.jpg") no-repeat top center;
	background-size: cover;
	height: 780px;
}
.menu-bar-container {
	position: fixed;
	width: 100%;
}

.header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgb(228, 226, 226);
	padding: 0 55px;
	z-index: 999;
	position: fixed;
	top: 0;
	background-color: #fff;
	box-shadow: 1px 2px 2px 1px rgba(164, 163, 163, 0.9);
}

.header-container > nav {
	display: flex;
	align-items: center;
}
.header-container > nav a {
	transition-duration: 1s;
}

.header-container > nav a:hover,
.header-container > nav a:active {
	color: #d2b356;
	transition-duration: 0.5s;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
ul li {
	margin-right: 15px;
	font-size: 0.7rem !important;
}
ul li:last-child {
	margin-right: 0;
}
ul a {
	text-decoration: none;
	color: black;
}
.social-header a {
	font-size: 0.8rem !important;
	color: rgb(171, 167, 167);
	transition-duration: 1s;
}

.social-header a:hover {
	font-size: 0.8rem !important;
	color: rgb(1, 1, 1);
	transition-duration: 0.5s;
}

.logo-img {
	display: flex;
	align-items: center;
}
.logo-img img {
	height: 1.1rem;
}

.menu-bar {
	display: none;
	width: 100%;
	height: 0;
	position: absolute;
	top: 74px;
	padding: 8px 8px 0 8px;
	box-shadow: 1px 2px 2px 1px rgba(164, 163, 163, 0.9);
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-bar.open {
	display: block;
	height: fit-content;
}
.menu-bar li {
	height: 1.4rem;
	border-top: 1px solid rgb(228, 226, 226);
	display: flex;
	align-items: center;
	width: 100%;
}

.menu-bar a {
	transition-duration: 1s;
}
.menu-bar a:hover {
	color: #d2b356;
	transition-duration: 0.5s;
}

.menu-bar li {
	transition-duration: 1s;
}
.menu-bar li:hover {
	background-color: rgba(236, 232, 232, 0.715);
	transition-duration: 0.5s;
}

.menu-btn {
	display: none;
}

/*? media Queries   */

@media (max-width: 1025px) {
	.menu-btn {
		display: block;
	}

	nav ul {
		display: none;
	}
}

@media (max-width: 480px) {
	.social-header li a {
		display: none;
	}
}
